In [2]:
# -*- coding: utf-8 -*- #setting the coding
import numpy as np #import packages
import pandas as pd

In [13]:
t = np.arange(0,10,0.1) #create a vector with values from 0 to 10 with step 0.1
x = np.sin(t) #create vector based on vector t (sin of every value of t)
y = np.cos(t) #create vector of cos values of t

df = pd.DataFrame({"Time":t, "X":x, "Y":y}) #create DataFrame, pandas object
#it is created by passing a dictionary to the pandas function
dictio = {"key1":x,"key2":y} #normal dictionary creation
#print(dictio) #that way though data is not combined into a spredsheet-like object, values are just printed as
#"key1":array([values])

In [12]:
print(df) #we can adress the whole dataframe

    Time         X         Y
0    0.0  0.000000  1.000000
1    0.1  0.099833  0.995004
2    0.2  0.198669  0.980067
3    0.3  0.295520  0.955336
4    0.4  0.389418  0.921061
..   ...       ...       ...
95   9.5 -0.075151 -0.997172
96   9.6 -0.174327 -0.984688
97   9.7 -0.271761 -0.962365
98   9.8 -0.366479 -0.930426
99   9.9 -0.457536 -0.889191

[100 rows x 3 columns]

In [14]:
print(df.Time) #we can adress certain column by its name
print(df[["Time","X"]]) #another way to adress columns (note that there is need for double brackets)

0     0.0
1     0.1
2     0.2
3     0.3
4     0.4
     ...
95    9.5
96    9.6
97    9.7
98    9.8
99    9.9
Name: Time, Length: 100, dtype: float64
    Time         X
0    0.0  0.000000
1    0.1  0.099833
2    0.2  0.198669
3    0.3  0.295520
4    0.4  0.389418
..   ...       ...
95   9.5 -0.075151
96   9.6 -0.174327
97   9.7 -0.271761
98   9.8 -0.366479
99   9.9 -0.457536

[100 rows x 2 columns]

In [19]:
print(df.head()) #allows us to extract first few rows
print(df.tail()) #allows us to extract last few rows
print(df[4:10]) #allows us to extract rows from 4 to 9
print(df[10:15]) #rows from 10 to 14

   Time         X         Y
0   0.0  0.000000  1.000000
1   0.1  0.099833  0.995004
2   0.2  0.198669  0.980067
3   0.3  0.295520  0.955336
4   0.4  0.389418  0.921061
    Time         X         Y
95   9.5 -0.075151 -0.997172
96   9.6 -0.174327 -0.984688
97   9.7 -0.271761 -0.962365
98   9.8 -0.366479 -0.930426
99   9.9 -0.457536 -0.889191
   Time         X         Y
4   0.4  0.389418  0.921061
5   0.5  0.479426  0.877583
6   0.6  0.564642  0.825336
7   0.7  0.644218  0.764842
8   0.8  0.717356  0.696707
9   0.9  0.783327  0.621610
    Time         X         Y
10   1.0  0.841471  0.540302
11   1.1  0.891207  0.453596
12   1.2  0.932039  0.362358
13   1.3  0.963558  0.267499
14   1.4  0.985450  0.169967

In [21]:
#we can also choose certain columns and rows simultaniously
print(df[["Time","X"]][10:20]) #columns "Time" and "X", rows from 10 to 19
print(df.Time[0:10]) #column "Time", rows 0 to 9. note that if called that way there is no header for column

    Time         X
10   1.0  0.841471
11   1.1  0.891207
12   1.2  0.932039
13   1.3  0.963558
14   1.4  0.985450
15   1.5  0.997495
16   1.6  0.999574
17   1.7  0.991665
18   1.8  0.973848
19   1.9  0.946300
0    0.0
1    0.1
2    0.2
3    0.3
4    0.4
5    0.5
6    0.6
7    0.7
8    0.8
9    0.9
Name: Time, dtype: float64

In [31]:
print(df.iloc[4:10,[0,1]]) #another way to adress certain combinations
#note that before first argument was columns and the second was rows
#with .iloc it is the other way around, rows first and then columns
#!!! it is important to remember that numpy handles rows first, and pandas starts with columns !!!
df[0:1] #to slice a single row it is necessary to use notation like that
#df[0] #something like that won't work

   Time         X
4   0.4  0.389418
5   0.5  0.479426
6   0.6  0.564642
7   0.7  0.644218
8   0.8  0.717356
9   0.9  0.783327

   Time    X    Y
0   0.0  0.0  1.0

In [25]:
#lastly, we can change our dataframe into numpy array, which grants direct access to the data
df.values

array([[ 0.        ,  0.        ,  1.        ],
       [ 0.1       ,  0.09983342,  0.99500417],
       [ 0.2       ,  0.19866933,  0.98006658],
       [ 0.3       ,  0.29552021,  0.95533649],
       [ 0.4       ,  0.38941834,  0.92106099],
       [ 0.5       ,  0.47942554,  0.87758256],
       [ 0.6       ,  0.56464247,  0.82533561],
       [ 0.7       ,  0.64421769,  0.76484219],
       [ 0.8       ,  0.71735609,  0.69670671],
       [ 0.9       ,  0.78332691,  0.62160997],
       [ 1.        ,  0.84147098,  0.54030231],
       [ 1.1       ,  0.89120736,  0.45359612],
       [ 1.2       ,  0.93203909,  0.36235775],
       [ 1.3       ,  0.96355819,  0.26749883],
       [ 1.4       ,  0.98544973,  0.16996714],
       [ 1.5       ,  0.99749499,  0.0707372 ],
       [ 1.6       ,  0.9995736 , -0.02919952],
       [ 1.7       ,  0.99166481, -0.12884449],
       [ 1.8       ,  0.97384763, -0.22720209],
       [ 1.9       ,  0.94630009, -0.32328957],
       [ 2.        ,  0.90929743, -0.41614684],
       [ 2.1       ,  0.86320937, -0.5048461 ],
       [ 2.2       ,  0.8084964 , -0.58850112],
       [ 2.3       ,  0.74570521, -0.66627602],
       [ 2.4       ,  0.67546318, -0.73739372],
       [ 2.5       ,  0.59847214, -0.80114362],
       [ 2.6       ,  0.51550137, -0.85688875],
       [ 2.7       ,  0.42737988, -0.90407214],
       [ 2.8       ,  0.33498815, -0.94222234],
       [ 2.9       ,  0.23924933, -0.97095817],
       [ 3.        ,  0.14112001, -0.9899925 ],
       [ 3.1       ,  0.04158066, -0.99913515],
       [ 3.2       , -0.05837414, -0.99829478],
       [ 3.3       , -0.15774569, -0.98747977],
       [ 3.4       , -0.2555411 , -0.96679819],
       [ 3.5       , -0.35078323, -0.93645669],
       [ 3.6       , -0.44252044, -0.89675842],
       [ 3.7       , -0.52983614, -0.84810003],
       [ 3.8       , -0.61185789, -0.79096771],
       [ 3.9       , -0.68776616, -0.7259323 ],
       [ 4.        , -0.7568025 , -0.65364362],
       [ 4.1       , -0.81827711, -0.57482395],
       [ 4.2       , -0.87157577, -0.49026082],
       [ 4.3       , -0.91616594, -0.40079917],
       [ 4.4       , -0.95160207, -0.30733287],
       [ 4.5       , -0.97753012, -0.2107958 ],
       [ 4.6       , -0.993691  , -0.11215253],
       [ 4.7       , -0.99992326, -0.01238866],
       [ 4.8       , -0.99616461,  0.08749898],
       [ 4.9       , -0.98245261,  0.18651237],
       [ 5.        , -0.95892427,  0.28366219],
       [ 5.1       , -0.92581468,  0.37797774],
       [ 5.2       , -0.88345466,  0.46851667],
       [ 5.3       , -0.83226744,  0.55437434],
       [ 5.4       , -0.77276449,  0.63469288],
       [ 5.5       , -0.70554033,  0.70866977],
       [ 5.6       , -0.63126664,  0.77556588],
       [ 5.7       , -0.55068554,  0.83471278],
       [ 5.8       , -0.46460218,  0.88551952],
       [ 5.9       , -0.37387666,  0.92747843],
       [ 6.        , -0.2794155 ,  0.96017029],
       [ 6.1       , -0.1821625 ,  0.98326844],
       [ 6.2       , -0.0830894 ,  0.9965421 ],
       [ 6.3       ,  0.0168139 ,  0.99985864],
       [ 6.4       ,  0.1165492 ,  0.99318492],
       [ 6.5       ,  0.21511999,  0.97658763],
       [ 6.6       ,  0.31154136,  0.95023259],
       [ 6.7       ,  0.40484992,  0.91438315],
       [ 6.8       ,  0.49411335,  0.86939749],
       [ 6.9       ,  0.57843976,  0.8157251 ],
       [ 7.        ,  0.6569866 ,  0.75390225],
       [ 7.1       ,  0.72896904,  0.68454667],
       [ 7.2       ,  0.79366786,  0.60835131],
       [ 7.3       ,  0.85043662,  0.52607752],
       [ 7.4       ,  0.8987081 ,  0.43854733],
       [ 7.5       ,  0.93799998,  0.34663532],
       [ 7.6       ,  0.96791967,  0.25125984],
       [ 7.7       ,  0.98816823,  0.15337386],
       [ 7.8       ,  0.99854335,  0.05395542],
       [ 7.9       ,  0.99894134, -0.04600213],
       [ 8.        ,  0.98935825, -0.14550003],
       [ 8.1       ,  0.96988981, -0.24354415],
       [ 8.2       ,  0.94073056, -0.33915486],
       [ 8.3       ,  0.90217183, -0.43137684],
       [ 8.4       ,  0.85459891, -0.51928865],
       [ 8.5       ,  0.79848711, -0.6020119 ],
       [ 8.6       ,  0.7343971 , -0.67872005],
       [ 8.7       ,  0.66296923, -0.74864665],
       [ 8.8       ,  0.58491719, -0.81109301],
       [ 8.9       ,  0.50102086, -0.86543521],
       [ 9.        ,  0.41211849, -0.91113026],
       [ 9.1       ,  0.31909836, -0.9477216 ],
       [ 9.2       ,  0.22288991, -0.97484362],
       [ 9.3       ,  0.12445442, -0.99222533],
       [ 9.4       ,  0.02477543, -0.99969304],
       [ 9.5       , -0.07515112, -0.99717216],
       [ 9.6       , -0.17432678, -0.98468786],
       [ 9.7       , -0.27176063, -0.96236488],
       [ 9.8       , -0.36647913, -0.93042627],
       [ 9.9       , -0.45753589, -0.88919115]])